<footer>
    <div class="about">
      <h1><span class="logo-text">Anurag </span> <span>Blog</span></h1>
      <p>
        For any type of query,do contact me by any of the following medium
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          9875514469
        </span>
        <!-- <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:support@inovotek.com">
            support@inovotek.com
          </a>
        </span> -->

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.linkedin.com/in/anurag-chandra-485876267/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/AnuragChandra16" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/anurag_16_01" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:anuragchandra1601@gmail.com" target="_blank">
          <i class="far fa-envelope"></i> <!-- Assuming you're using Font Awesome for envelope icon -->
        </a>
        
       
  </footer>